<h1>List of Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Occured on</th>
      <th>Start</th>
      <th>End</th>
      <th>Copay received</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.client.first_name %></td>
        <td><%= appointment.occured_on %></td>
        <td><%= appointment.start.strftime("%I:%M %P") %></td>
        <td><%= appointment.end.strftime("%I:%M %P") %></td>
        <td><%= appointment.copay_received %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
